<a href="https://colab.research.google.com/github/joyfulspace/Books/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%EC%99%84%EB%B2%BD%EA%B0%80%EC%9D%B4%EB%93%9C/ch9_1_%EC%B6%94%EC%B2%9C%EC%8B%9C%EC%8A%A4%ED%85%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 추천시스템
* 콘텐츠 기반 필터링: 사용자가 특정 아이템을 매우 선호하면, 그 아이템과 비슷한 콘텐츠를 가진 다른 아이템을 추천
* 협업필터링: 사용자가 아이템에 매긴 평점 정보나 상품 구매 이력과 같은 사용자 행동 양식만을 기반으로 추천을 수행
  - 아직 평가하지 않은 아이템을 예측 평가
  - 사용자-아이템 평점 행렬 사용
  - 최근접 이웃: 특정 사용자와 유사한 다른 사용자를 TOP-N으로 선정해 이 TOP-N 사용자가 좋아하는 아이템을 추천하는 방식
    - 사용자 기반: 당신과 비슷한 고객들이 다음 상품도 구매했다 (사용자 간의 유사도 측정)
    - 아이템 기반: 이 상품을 선택한 다른 고객들은 다음 상품도 구매했다(사용자들이 그 아이템을좋아하는지/싫어하는지의 평가 척도가 유사한 아이템 추천)
    - 아이템기반이 더 성능 좋음
  - 잠재 요인: 행렬 분해 기법을 이용해 사용자-잠재 요인 행렬과 아이템-잠재요인 행렬로 분해된 데이터 세트를 다시 내적 곱으로 결합하면서 사용자가 예측하지 않은 아이템에 대한 평점을 도출
    - 확률적 경사 하강법을 이용한 행렬 분해: null값이 많아서

### 확률적 경사 하강법을 이용한 행렬 분해

In [ ]:
import numpy as np

# 원본 행렬 R 생성, 분해 행렬 P와 Q 초기화, 잠재 요인 차원 K는 3으로 설정.
R = np.array([[4, np.nan, np.nan, 2, np.nan],
              [np.nan, 5, np.nan, 3, 1],
              [np.nan, np.nan, 3, 4, 4],
              [5, 2, 1, 2, np.nan]])
num_users, num_items = R.shape
K = 3

# P와 Q 행렬의 크기를 지정하고 정규 분포를 가진 임의의 값으로 입력
np.random.seed(1)
P = np.random.normal(scale=1./K, size=(num_users, K))
Q = np.random.normal(scale=1./K, size=(num_items, K))

In [ ]:
# 실제 R 행렬과 예측 행렬의 오차를 구하는 함수
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
  error = 0
  # 두개의 분해된 행렬 P와 Q.T의 내적으로 예측 R 행렬 생성
  full_pred_matrix = np.dot(P, Q.T)

  # 실제 R 행렬에서 널이 아닌 값의 위치 인덱스를 추출해 
  # 실제 R 행렬과 예측 행렬의 RMSE 추출
  x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
  y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
  R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
  full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
  mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
  rmse = np.sqrt(mse)

  return rmse

In [ ]:
# SGD 기반으로 행렬 분해 수행

# R>0인 행 위치, 열 위치, 값을 non_zeros 리스트에 저장
non_zeros = [(i,j,R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j]>0]

steps = 1000
learning_rate = 0.01
r_lambda = 0.01

# SGD 기법으로 P와 Q 매트릭스를 계속 업데이트
for step in range(steps):
  for i, j, r in non_zeros:
    # 실제 값과 예측 값의 차이인 오류 값 구함
    eij = r - np.dot(P[i, :], Q[j, :].T)
    # Regularization을 반영한 SGD 업데이트 공식 적용
    P[i, :] = P[i, :] + learning_rate*(eij * Q[j, :] - r_lambda*P[i, :])
    Q[j, :] = Q[j, :] + learning_rate*(eij * P[i, :] - r_lambda*Q[j, :])

    rmse =  get_rmse(R, P, Q, non_zeros)
    if (step%50)==0:
      print('### iteration step : ', step, " rmse : ", rmse)

### iteration step :  0  rmse :  3.261355059488935
### iteration step :  0  rmse :  3.26040057174686
### iteration step :  0  rmse :  3.253984404542389
### iteration step :  0  rmse :  3.2521583839863624
### iteration step :  0  rmse :  3.252335303789125
### iteration step :  0  rmse :  3.251072196430487
### iteration step :  0  rmse :  3.2492449982564864
### iteration step :  0  rmse :  3.247416477570409
### iteration step :  0  rmse :  3.241926055455223
### iteration step :  0  rmse :  3.2400454107613084
### iteration step :  0  rmse :  3.240166740749792
### iteration step :  0  rmse :  3.2388050277987723
### iteration step :  50  rmse :  0.5003190892212748
### iteration step :  50  rmse :  0.5001616291326989
### iteration step :  50  rmse :  0.49899601202578087
### iteration step :  50  rmse :  0.4988483450145831
### iteration step :  50  rmse :  0.49895189256631756
### iteration step :  50  rmse :  0.49833236830090993
### iteration step :  50  rmse :  0.4984148489378701
### iteration step :  50  rmse :  0.49792599580240876
### iteration step :  50  rmse :  0.4900605568692785
### iteration step :  50  rmse :  0.4890370238665435
### iteration step :  50  rmse :  0.48869176023997846
### iteration step :  50  rmse :  0.4876723101369648
### iteration step :  100  rmse :  0.15911521988578564
### iteration step :  100  rmse :  0.1588091617801093
### iteration step :  100  rmse :  0.1587409221708901
### iteration step :  100  rmse :  0.1582856952842508
### iteration step :  100  rmse :  0.1583080948216876
### iteration step :  100  rmse :  0.15828832993767403
### iteration step :  100  rmse :  0.15787486893092847
### iteration step :  100  rmse :  0.15792073606567072
### iteration step :  100  rmse :  0.15725245215457084
### iteration step :  100  rmse :  0.15710664164665206
### iteration step :  100  rmse :  0.15690252144190003
### iteration step :  100  rmse :  0.1564340384819247
### iteration step :  150  rmse :  0.07546004875264435
### iteration step :  150  rmse :  0.07544589133447106
### iteration step :  150  rmse :  0.07543234329653023
### iteration step :  150  rmse :  0.07514800672233914
### iteration step :  150  rmse :  0.07518867696418177
### iteration step :  150  rmse :  0.0752288950993841
### iteration step :  150  rmse :  0.07489318864469259
### iteration step :  150  rmse :  0.07493400425933257
### iteration step :  150  rmse :  0.07462695506527872
### iteration step :  150  rmse :  0.07464332131959663
### iteration step :  150  rmse :  0.0746444164156341
### iteration step :  150  rmse :  0.07455141311978046
### iteration step :  200  rmse :  0.04361016579439073
### iteration step :  200  rmse :  0.04370913068953006
### iteration step :  200  rmse :  0.04369072102767977
### iteration step :  200  rmse :  0.043475549832271414
### iteration step :  200  rmse :  0.0435313092537358
### iteration step :  200  rmse :  0.04359240037575283
### iteration step :  200  rmse :  0.04329647906053838
### iteration step :  200  rmse :  0.04332057192123618
### iteration step :  200  rmse :  0.04310448294502512
### iteration step :  200  rmse :  0.04313550286658552
### iteration step :  200  rmse :  0.04313786864806258
### iteration step :  200  rmse :  0.04325226798579314
### iteration step :  250  rmse :  0.029395183185609734
### iteration step :  250  rmse :  0.02954402948437167
### iteration step :  250  rmse :  0.02950187436758184
### iteration step :  250  rmse :  0.029329609713572593
### iteration step :  250  rmse :  0.02940211807327667
### iteration step :  250  rmse :  0.02946720568417511
### iteration step :  250  rmse :  0.029189294191791375
### iteration step :  250  rmse :  0.029198757426747605
### iteration step :  250  rmse :  0.028995742260002243
### iteration step :  250  rmse :  0.02904415445054541
### iteration step :  250  rmse :  0.029049587101179365
### iteration step :  250  rmse :  0.029248328780878973
### iteration step :  300  rmse :  0.022678715233749362
### iteration step :  300  rmse :  0.022844873864300484
### iteration step :  300  rmse :  0.022773566650325074
### iteration step :  300  rmse :  0.02263234507322516
### iteration step :  300  rmse :  0.02272006255153119
### iteration step :  300  rmse :  0.022778917442558434
### iteration step :  300  rmse :  0.022516243062381223
### iteration step :  300  rmse :  0.022515508246519694
### iteration step :  300  rmse :  0.02229491665298542
### iteration step :  300  rmse :  0.022367287171783136
### iteration step :  300  rmse :  0.022392303480653113
### iteration step :  300  rmse :  0.022621116143829466
### iteration step :  350  rmse :  0.019516973680183715
### iteration step :  350  rmse :  0.019681605297160464
### iteration step :  350  rmse :  0.019585635379668415
### iteration step :  350  rmse :  0.01946716545524988
### iteration step :  350  rmse :  0.01956568678979253
### iteration step :  350  rmse :  0.019614020075870497
### iteration step :  350  rmse :  0.019368393329296258
### iteration step :  350  rmse :  0.019361014872334943
### iteration step :  350  rmse :  0.019116038405167533
### iteration step :  350  rmse :  0.01920981547997513
### iteration step :  350  rmse :  0.019255623979392192
### iteration step :  350  rmse :  0.019493636196525135
### iteration step :  400  rmse :  0.01803666559195465
### iteration step :  400  rmse :  0.01819133106334419
### iteration step :  400  rmse :  0.018078504374883574
### iteration step :  400  rmse :  0.01797554592952707
### iteration step :  400  rmse :  0.018080509676855847
### iteration step :  400  rmse :  0.018118882879536648
### iteration step :  400  rmse :  0.017889686482489363
### iteration step :  400  rmse :  0.017878066671070433
### iteration step :  400  rmse :  0.01761224433968553
### iteration step :  400  rmse :  0.01772096734904666
### iteration step :  400  rmse :  0.01778179645659777
### iteration step :  400  rmse :  0.018022719092132704
### iteration step :  450  rmse :  0.017334045429542092
### iteration step :  450  rmse :  0.01747683493759156
### iteration step :  450  rmse :  0.01735361907510825
### iteration step :  450  rmse :  0.017260553985290646
### iteration step :  450  rmse :  0.01736909385010645
### iteration step :  450  rmse :  0.017399933857257726
### iteration step :  450  rmse :  0.01718431757863743
### iteration step :  450  rmse :  0.01716990649625117
### iteration step :  450  rmse :  0.01688861579579296
### iteration step :  450  rmse :  0.017006638154083088
### iteration step :  450  rmse :  0.01707679250866153
### iteration step :  450  rmse :  0.01731968595344266
### iteration step :  500  rmse :  0.016991609248052833
### iteration step :  500  rmse :  0.01712340891578616
### iteration step :  500  rmse :  0.01699398405641037
### iteration step :  500  rmse :  0.01690707049203008
### iteration step :  500  rmse :  0.01701760577221745
### iteration step :  500  rmse :  0.017043277556700362
### iteration step :  500  rmse :  0.01683803145900356
### iteration step :  500  rmse :  0.016821674312725313
### iteration step :  500  rmse :  0.016529281264429145
### iteration step :  500  rmse :  0.0166528887951985
### iteration step :  500  rmse :  0.016728541275490984
### iteration step :  500  rmse :  0.016973657887570753
### iteration step :  550  rmse :  0.016818969716266233
### iteration step :  550  rmse :  0.016941445597444732
### iteration step :  550  rmse :  0.0168082592988841
### iteration step :  550  rmse :  0.016725234339747562
### iteration step :  550  rmse :  0.01683693849143515
### iteration step :  550  rmse :  0.016859187050621206
### iteration step :  550  rmse :  0.016661644526141564
### iteration step :  550  rmse :  0.01664385102006508
### iteration step :  550  rmse :  0.016343446075494233
### iteration step :  550  rmse :  0.01647044082182643
### iteration step :  550  rmse :  0.01654932331426952
### iteration step :  550  rmse :  0.016796804595895633
### iteration step :  600  rmse :  0.016727439717439115
### iteration step :  600  rmse :  0.016842259158977232
### iteration step :  600  rmse :  0.016706687924467476
### iteration step :  600  rmse :  0.016626255644609397
### iteration step :  600  rmse :  0.016738696939262717
### iteration step :  600  rmse :  0.016758682415985614
### iteration step :  600  rmse :  0.0165668572000528
### iteration step :  600  rmse :  0.016547954461110684
### iteration step :  600  rmse :  0.016241668760761063
### iteration step :  600  rmse :  0.016370800056137867
### iteration step :  600  rmse :  0.016451627209257007
### iteration step :  600  rmse :  0.01670132290188466
### iteration step :  650  rmse :  0.016674291334806343
### iteration step :  650  rmse :  0.016782895588885082
### iteration step :  650  rmse :  0.016645698091647773
### iteration step :  650  rmse :  0.01656714079916223
### iteration step :  650  rmse :  0.016680091021598568
### iteration step :  650  rmse :  0.016698554271430792
### iteration step :  650  rmse :  0.016511017732427972
### iteration step :  650  rmse :  0.016491228766905293
### iteration step :  650  rmse :  0.01618054419796173
### iteration step :  650  rmse :  0.01631111150707529
### iteration step :  650  rmse :  0.01639316772050061
### iteration step :  650  rmse :  0.01664473691247669
### iteration step :  700  rmse :  0.0166383624426085
### iteration step :  700  rmse :  0.016741936743323586
### iteration step :  700  rmse :  0.016603524189001625
### iteration step :  700  rmse :  0.016526454393300468
### iteration step :  700  rmse :  0.016639792083379498
### iteration step :  700  rmse :  0.016657201345297346
### iteration step :  700  rmse :  0.016472928381641428
### iteration step :  700  rmse :  0.01645241257047358
### iteration step :  700  rmse :  0.016138379086448083
### iteration step :  700  rmse :  0.016269993747904915
### iteration step :  700  rmse :  0.01635288508504558
### iteration step :  700  rmse :  0.016605910068210026
### iteration step :  750  rmse :  0.01660906046895522
### iteration step :  750  rmse :  0.016708562969098305
### iteration step :  750  rmse :  0.016569153528341783
### iteration step :  750  rmse :  0.016493367054249922
### iteration step :  750  rmse :  0.016607027966870924
### iteration step :  750  rmse :  0.01662368102752549
### iteration step :  750  rmse :  0.016441927271724666
### iteration step :  750  rmse :  0.0164208024653437
### iteration step :  750  rmse :  0.016104179990850755
### iteration step :  750  rmse :  0.016236628551952913
### iteration step :  750  rmse :  0.016320141009292095
### iteration step :  750  rmse :  0.016574200475705
### iteration step :  800  rmse :  0.016581161561119846
### iteration step :  800  rmse :  0.016677363428436936
### iteration step :  800  rmse :  0.016537069269613652
### iteration step :  800  rmse :  0.0164624613777787
### iteration step :  800  rmse :  0.016576412350487568
### iteration step :  800  rmse :  0.01659250180024954
### iteration step :  800  rmse :  0.01641271740942833
### iteration step :  800  rmse :  0.016391072859801518
### iteration step :  800  rmse :  0.01607242307736876
### iteration step :  800  rmse :  0.016205589842521878
### iteration step :  800  rmse :  0.016289609430091494
### iteration step :  800  rmse :  0.01654431582921597
### iteration step :  850  rmse :  0.01655222898431553
### iteration step :  850  rmse :  0.01664575121547569
### iteration step :  850  rmse :  0.016504627328190514
### iteration step :  850  rmse :  0.016431145801748863
### iteration step :  850  rmse :  0.016545370571042432
### iteration step :  850  rmse :  0.016561024020105147
### iteration step :  850  rmse :  0.016382795627019747
### iteration step :  850  rmse :  0.016360700076085824
### iteration step :  850  rmse :  0.016040446344395578
### iteration step :  850  rmse :  0.016174269580681345
### iteration step :  850  rmse :  0.016258737354641353
### iteration step :  850  rmse :  0.01651375177473524
### iteration step :  900  rmse :  0.016521280433777957
### iteration step :  900  rmse :  0.016612624200841405
### iteration step :  900  rmse :  0.016470695682261876
### iteration step :  900  rmse :  0.016398314989165292
### iteration step :  900  rmse :  0.016512806333073466
### iteration step :  900  rmse :  0.01652811087350182
### iteration step :  900  rmse :  0.016351122754892394
### iteration step :  900  rmse :  0.016328629783842166
### iteration step :  900  rmse :  0.016007096878603234
### iteration step :  900  rmse :  0.016141544071514122
### iteration step :  900  rmse :  0.016226430843994055
### iteration step :  900  rmse :  0.01648146573819501
### iteration step :  950  rmse :  0.016488081335748316
### iteration step :  950  rmse :  0.016577652134974717
### iteration step :  950  rmse :  0.01643492933498176
### iteration step :  950  rmse :  0.0163636366204062
### iteration step :  950  rmse :  0.01647839195954869
### iteration step :  950  rmse :  0.01649340903060659
### iteration step :  950  rmse :  0.016317416842511007
### iteration step :  950  rmse :  0.016294568571753248
### iteration step :  950  rmse :  0.015972009545965248
### iteration step :  950  rmse :  0.0161070634587959
### iteration step :  950  rmse :  0.016192355609214733
### iteration step :  950  rmse :  0.016447171683479155

In [ ]:
pred_matrix = np.dot(P, Q.T)
print('예측 행렬:\n', np.round(pred_matrix, 3))

예측 행렬:
 [[3.991 0.897 1.306 2.002 1.663]
 [6.696 4.978 0.979 2.981 1.003]
 [6.677 0.391 2.987 3.977 3.986]
 [4.968 2.005 1.006 2.017 1.14 ]]

## 9.5 컨텐츠 기반 필터링 실습 - TMDB 5000 Movie Dataset
* 컨텐츠 간의 유사도를 구해서 비슷한 컨텐츠 추천

In [1]:
!git clone https://github.com/joyfulspace/Books.git
Path = '/content/Books/파이썬머신러닝완벽가이드/data'

Cloning into 'Books'...
remote: Enumerating objects: 695, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 695 (delta 4), reused 3 (delta 2), pack-reused 683
Receiving objects: 100% (695/695), 145.71 MiB | 12.07 MiB/s, done.
Resolving deltas: 100% (160/160), done.
Updating files: 100% (408/408), done.

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

movies = pd.read_csv(f'{Path}/tmdb-5000-movie-dataset/tmdb_5000_movies.csv')
print(movies.shape)
movies.head(1)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [3]:
movies_df = movies[['id', 'title', 'genres', 'vote_average', 'vote_count',
                    'popularity', 'keywords', 'overview']]

In [4]:
pd.set_option('max_colwidth', 100)
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."

In [5]:
from ast import literal_eval

movies_df['genres'] = movies_df['genres'].apply(literal_eval)  # 문자열을 객체로 변환
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

In [6]:
movies_df['genres'] = movies_df['genres'].apply(lambda x: [y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x: [y['name'] for y in x])
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환
movies_df['genres_literal'] = movies_df['genres'].apply(lambda x: (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:2])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]
 [0.59628479 1.         0.4        ... 0.         0.         0.        ]]

In [9]:
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_ind[:1])

[[   0 3494  813 ... 3038 3037 2401]]

In [10]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
  title_movie = df[df['title']==title_name]

  # sorted ind 인자로 입력된 genre_sim_sorted_int 객체에서 유사도 순으로 top_n개의 index 추출
  title_index = title_movie.index.values
  similar_indexes = sorted_ind[title_index, :(top_n)]

  # 추출된 top_n index들 출력. top_n_index는 2차원 데이터임.
  print(similar_indexes)
  similar_indexes = similar_indexes.reshape(-1)

  return df.iloc[similar_indexes]

In [11]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

In [12]:
movies_df[['title', 'vote_average', 'vote_count']].sort_values('vote_average', ascending=False)

                      title  vote_average  vote_count
3519       Stiff Upper Lips          10.0           1
4247  Me You and Five Bucks          10.0           2
4045  Dancer, Texas Pop. 81          10.0           1
4662         Little Big Top          10.0           1
3992              Sardaarji           9.5           2
...                     ...           ...         ...
3960           The Deported           0.0           0
4684         American Beast           0.0           0
3967    Four Single Fathers           0.0           0
4486       Naturally Native           0.0           0
4458    Harrison Montgomery           0.0           0

[4803 rows x 3 columns]

In [13]:
C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)
print('C:', round(C,3), 'm:', round(m,3))

C: 6.092 m: 370.2

In [14]:
# v: 개별 영화에 평점을 투표한 횟수
# m: 평점을 부여하기 위한 최소 투표 횟수
# R: 개별 영화에 대한 평균 평점
# C: 전체 영화에 대한 평균 평점
percentile = 0.6
m = movies_df['vote_count'].quantile(percentile)
C = movies_df['vote_average'].mean()

def weighted_vote_average(record):
  v = record['vote_count']
  R = record['vote_average']

  return v/(v+m)*R + m/(m+v)*C # 가중 평점 공식

movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1)

In [15]:
movies_df[['title', 'vote_average', 'weighted_vote', 'vote_count']]

,title,vote_average,weighted_vote,vote_count
0,Avatar,7.2,7.166301,11800
1,Pirates of the Caribbean: At World's End,6.9,6.838594,4500
2,Spectre,6.3,6.284091,4466
3,The Dark Knight Rises,7.6,7.541095,9106
4,John Carter,6.1,6.098838,2124
...,...,...,...,...
4798,El Mariachi,6.6,6.290894,238
4799,Newlyweds,5.9,6.089611,5
4800,"Signed, Sealed, Delivered",7.0,6.106650,6
4801,Shanghai Calling,5.7,6.084894,7
4802,My Date with Drew,6.3,6.100782,16

In [16]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
  title_movie = df[df['title']==title_name]
  title_index = title_movie.index.values

  # top_n의 2배에 해당하는 장르 유사성이 높은 index 추출
  similar_indexes = sorted_ind[title_index, :(top_n*2)]
  similar_indexes = similar_indexes.reshape(-1)

  # 기준 영화 index는 제외
  similar_indexes = similar_indexes[similar_indexes!=title_index]

  # top_n의 2배에 해당하는 후보군에서 weighted_vote 높은 순으로 top_n개 반환
  return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average', 'weighted_vote']]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.079586
1847                   GoodFellas           8.2       7.976937
3866                  City of God           8.1       7.759693
1663  Once Upon a Time in America           8.2       7.657811
883           Catch Me If You Can           7.7       7.557097
281             American Gangster           7.4       7.141396
4041              This Is England           7.4       6.739664
1149              American Hustle           6.8       6.717525
1243                 Mean Streets           7.2       6.626569
2839                     Rounders           6.9       6.530427

## 9.6 아이템 기반 인접 이웃 협업 필터링 실습

In [17]:
import pandas as pd
import numpy as np

movies = pd.read_csv(f'{Path}/ml-latest-small/movies.csv')
ratings = pd.read_csv(f'{Path}/ml-latest-small/ratings.csv')
print(movies.shape)
print(ratings.shape)

(9742, 3)
(100836, 4)

In [18]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [19]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [20]:
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')
ratings_matrix.head(3)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# title 컬럼을 얻기 위해 movies와 조인 수행
rating_movies = pd.merge(ratings, movies, on='movieId')

# columns='title'로 title컬럼으로 pivot수행
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns='title')

# NaN값을 모두 0으로 변환
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 영화들 간 유사도 산출

In [22]:
ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head(3)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

# ratings_matrix의 행이 userId이므로 cosine_similarity()를 적용하면 
# 영화 간의 유사도가 아닌 사용자 간의 유사도가 나옴
# 영화 간 유사도를 구하기 위해 ratings_matrix를 transpose
item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)
item_sim_df = pd.DataFrame(data=item_sim, index=ratings_matrix.columns, 
                           columns=ratings_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(9719, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.141653,0.0,...,0.0,0.342055,0.543305,0.707107,0.0,0.0,0.139431,0.327327,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,1.000000,0.707107,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Round Midnight (1986),0.0,0.707107,1.000000,0.0,0.0,0.0,0.176777,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0

In [24]:
item_sim_df['Godfather, The (1972)'].sort_values(ascending=False)

title
Godfather, The (1972)                                       1.000000
Godfather: Part II, The (1974)                              0.821773
Goodfellas (1990)                                           0.664841
One Flew Over the Cuckoo's Nest (1975)                      0.620536
Star Wars: Episode IV - A New Hope (1977)                   0.595317
                                                              ...
Going Clear: Scientology and the Prison of Belief (2015)    0.000000
T-Rex: Back to the Cretaceous (1998)                        0.000000
Golmaal (2006)                                              0.000000
Good Copy Bad Copy (2007)                                   0.000000
À nous la liberté (Freedom for Us) (1931)                   0.000000
Name: Godfather, The (1972), Length: 9719, dtype: float64

In [25]:
item_sim_df['Inception (2010)'].sort_values(ascending=False)[1:6]

title
Dark Knight, The (2008)          0.727263
Inglourious Basterds (2009)      0.646103
Shutter Island (2010)            0.617736
Dark Knight Rises, The (2012)    0.617504
Fight Club (1999)                0.615417
Name: Inception (2010), dtype: float64

### 아이템 기반 인접 이웃 협업 필터링으로 개인화된 영화 추천

In [26]:
def predict_rating(ratings_arr, item_sim_arr):
  # ratings_arr: 사용자 u가 N개 영화에 대해 매긴 평점
  # item_sim_arr: 영화 i와 N개 영화 간의 코사인 유사도
  # np.array([np.abs(item_sim_arr).sum(axis=1)]): 정규화
  ratings_pred = ratings_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
  return ratings_pred

In [27]:
ratings_pred = predict_rating(ratings_matrix.values, item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index,
                                   columns=ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.070345,0.577855,0.321696,0.227055,0.206958,0.194615,0.249883,0.102542,0.157084,0.178197,...,0.113608,0.181738,0.133962,0.128574,0.006179,0.212070,0.192921,0.136024,0.292955,0.720347
2,0.018260,0.042744,0.018861,0.000000,0.000000,0.035995,0.013413,0.002314,0.032213,0.014863,...,0.015640,0.020855,0.020119,0.015745,0.049983,0.014876,0.021616,0.024528,0.017563,0.000000
3,0.011884,0.030279,0.064437,0.003762,0.003749,0.002722,0.014625,0.002085,0.005666,0.006272,...,0.006923,0.011665,0.011800,0.012225,0.000000,0.008194,0.007017,0.009229,0.010420,0.084501

In [28]:
from sklearn.metrics import mean_squared_error

# 사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE를 구함
def get_mse(pred, actual):
  pred = pred[actual.nonzero()].flatten()
  actual = actual[actual.nonzero()].flatten()
  return mean_squared_error(pred, actual)

print('아이템 기반 모든 인접 이웃 MSE:', get_mse(ratings_pred, ratings_matrix.values))

아이템 기반 모든 인접 이웃 MSE: 9.895354759094706

In [29]:
# 특정 영화와 가장 비슷한 유사도를 가지는 영화에 대해서만 유사도 벡터 적용
def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
  # 사용자-아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬 초기화
  pred = np.zeros(ratings_arr.shape)

  # 사용자-아이템 평점 행렬의 열 크기만큼 Loop 수행.
  for col in range(ratings_arr.shape[1]):
    # 유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬의 index 반환
    top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]]
    # 개인화된 예측 평점을 계산
    for row in range(ratings_arr.shape[0]):
      pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T)
      pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))
  return pred

In [30]:
ratings_pred = predict_rating_topsim(ratings_matrix.values, item_sim_df.values, 20)
print('아이템 기반 인접 TOP-20 이웃 MSE:', get_mse(ratings_pred, ratings_matrix.values))

# 계산된 예측 평점 데이터
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index,
                                   columns=ratings_matrix.columns)

아이템 기반 인접 TOP-20 이웃 MSE: 3.6949827608772314

### 9번 사용자에게 영화 추천

In [31]:
user_rating_id = ratings_matrix.loc[9, :]
# 9번 사용자의 평점
user_rating_id[user_rating_id>0].sort_values(ascending=False)[:10]

title
Adaptation (2002)                                                                 5.0
Citizen Kane (1941)                                                               5.0
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    5.0
Producers, The (1968)                                                             5.0
Lord of the Rings: The Two Towers, The (2002)                                     5.0
Lord of the Rings: The Fellowship of the Ring, The (2001)                         5.0
Back to the Future (1985)                                                         5.0
Austin Powers in Goldmember (2002)                                                5.0
Minority Report (2002)                                                            4.0
Witness (1985)                                                                    4.0
Name: 9, dtype: float64

In [32]:
def get_unseen_movies(ratings_matrix, userId):
  # userId로 입력받은 사용자의 모든 영화정보 추출.
  # 반환된 user_rating은 영화명을 index로 가짐
  user_rating = ratings_matrix.loc[userId, :]

  # user_rating이 0보다 크면 기존에 관람한 영화.
  already_seen = user_rating[user_rating>0].index.tolist()

  movies_list = ratings_matrix.columns.tolist()

  unseen_list = [movie for movie in movies_list if movie not in already_seen]

  return unseen_list

In [33]:
def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
  # 예측 평점에서 사용자id index와 unseen_lsit로 들어온 영화명 컬럼 추출
  # 가장 예측 평점이 높은 순으로 정렬
  recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
  return recomm_movies

# 사용자가 관람하지 않는 영화명
unseen_list = get_unseen_movies(ratings_matrix, 9)

# 아이템 기반의 인접 이웃 협업 필터링으로 영화 추천
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이터를 생성
recomm_movies = pd.DataFrame(data=recomm_movies.values, 
                             index=recomm_movies.index,
                             columns=['pred_score'])

In [34]:
recomm_movies

                                                                                                pred_score
title
Shrek (2001)                                                                                      0.866202
Spider-Man (2002)                                                                                 0.857854
Last Samurai, The (2003)                                                                          0.817473
Indiana Jones and the Temple of Doom (1984)                                                       0.816626
Matrix Reloaded, The (2003)                                                                       0.800990
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)    0.765159
Gladiator (2000)                                                                                  0.740956
Matrix, The (1999)                                                                                0.732693
Pirates of the Caribbean: The Curse of the Black Pearl (2003)                                     0.689591
Lord of the Rings: The Return of the King, The (2003)                                             0.676711

## 9.7 행렬 분해 기반의 잠재 요인 협업 필터링 실습

In [35]:
import numpy as np
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
  error = 0
  # 두 개의 분해된 행렬 P와 Q.T의 내적 곱으로 예측 R 행렬 생성
  full_pred_matrix = np.dot(P, Q.T)

  # 실제 R 행렬에서 null이 아닌 값의 위치 인덱스 추출하여 실제 R 행렬과 예측 행렬의 RMSE 추출
  x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
  y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
  R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]

  full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]

  mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
  rmse = np.sqrt(mse)

  return rmse

In [36]:
def matrix_factorization(R, K, steps=200, learning_rate=0.01, r_lambda=0.01):
  num_users, num_items = R.shape
  # P와 Q 매트릭스의 크기를 지정하고 정규분포를 가진 랜덤한 값으로 입력합니다.
  np.random.seed(1)
  P = np.random.normal(scale=1./K, size=(num_users, K))
  Q = np.random.normal(scale=1./K, size=(num_items, K))

  break_count = 0

  # R > 0 인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장
  non_zeros = [ (i, j, R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j]>0]

  # SGD기법으로 P와 Q 매트릭스를 계속 업데이트
  for step in range(steps):
    for i, j, r in non_zeros:
      # 실제 값과 예측 값의 차이인 오류 값 구함
      eij = r - np.dot(P[i, :], Q[j, :].T)
      # Regularization을 반영한 SGD 업데이트 공식 적용
      P[i, :] = P[i, :] + learning_rate*(eij * Q[j, :] - r_lambda*P[i, :])
      Q[j, :] = Q[j, :] + learning_rate*(eij * P[i, :] - r_lambda*Q[j, :])

    rmse = get_rmse(R, P, Q, non_zeros)
    if (step % 10) == 0:
      print('### iteration step:', step, ' rmse:', rmse)
  
  return P, Q

In [37]:
import pandas as pd
import numpy as np

movies = pd.read_csv(f'{Path}/ml-latest-small/movies.csv')
ratings = pd.read_csv(f'{Path}/ml-latest-small/ratings.csv')
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')

# title 컬럼을 얻기 이해 movies 와 조인 수행
rating_movies = pd.merge(ratings, movies, on='movieId')

# columns='title' 로 title 컬럼으로 pivot 수행. 
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns='title')

In [38]:
P, Q = matrix_factorization(ratings_matrix.values, K=50, steps=200, learning_rate=0.01, r_lambda=0.01)
pred_matrix = np.dot(P, Q.T)

### iteration step: 0  rmse: 2.9023619751336867
### iteration step: 10  rmse: 0.7335768591017927
### iteration step: 20  rmse: 0.5115539026853442
### iteration step: 30  rmse: 0.37261628282537446
### iteration step: 40  rmse: 0.2960818299181014
### iteration step: 50  rmse: 0.2520353192341642
### iteration step: 60  rmse: 0.22487503275269854
### iteration step: 70  rmse: 0.2068545530233154
### iteration step: 80  rmse: 0.19413418783028685
### iteration step: 90  rmse: 0.18470082002720406
### iteration step: 100  rmse: 0.17742927527209104
### iteration step: 110  rmse: 0.1716522696470749
### iteration step: 120  rmse: 0.16695181946871726
### iteration step: 130  rmse: 0.16305292191997542
### iteration step: 140  rmse: 0.15976691929679646
### iteration step: 150  rmse: 0.1569598699945732
### iteration step: 160  rmse: 0.15453398186715425
### iteration step: 170  rmse: 0.15241618551077643
### iteration step: 180  rmse: 0.1505508073962831
### iteration step: 190  rmse: 0.1488947091323209

In [39]:
ratings_pred_matrix = pd.DataFrame(data=pred_matrix, 
                                   index=ratings_matrix.index,
                                   columns=ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.055084,4.092018,3.564130,4.502167,3.981215,1.271694,3.603274,2.333266,5.091749,3.972454,...,1.402608,4.208382,3.705957,2.720514,2.787331,3.475076,3.253458,2.161087,4.010495,0.859474
2,3.170119,3.657992,3.308707,4.166521,4.311890,1.275469,4.237972,1.900366,3.392859,3.647421,...,0.973811,3.528264,3.361532,2.672535,2.404456,4.232789,2.911602,1.634576,4.135735,0.725684
3,2.307073,1.658853,1.443538,2.208859,2.229486,0.780760,1.997043,0.924908,2.970700,2.551446,...,0.520354,1.709494,2.281596,1.782833,1.635173,1.323276,2.887580,1.042618,2.293890,0.396941

In [40]:
def get_unseen_movies(ratings_matrix, userId):
    # userId로 입력받은 사용자의 모든 영화정보 추출하여 Series로 반환함. 
    # 반환된 user_rating 은 영화명(title)을 index로 가지는 Series 객체임. 
    user_rating = ratings_matrix.loc[userId,:]
    
    # user_rating이 0보다 크면 기존에 관람한 영화임. 대상 index를 추출하여 list 객체로 만듬
    already_seen = user_rating[ user_rating > 0].index.tolist()
    
    # 모든 영화명을 list 객체로 만듬. 
    movies_list = ratings_matrix.columns.tolist()
    
    # list comprehension으로 already_seen에 해당하는 movie는 movies_list에서 제외함. 
    unseen_list = [ movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

In [41]:
def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
    # 예측 평점 DataFrame에서 사용자id index와 unseen_list로 들어온 영화명 컬럼을 추출하여
    # 가장 예측 평점이 높은 순으로 정렬함. 
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

In [42]:
# 사용자가 관람하지 않는 영화명 추출   
unseen_list = get_unseen_movies(ratings_matrix, 9)

# 아이템 기반의 인접 이웃 협업 필터링으로 영화 추천 
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이타를 DataFrame으로 생성. 
recomm_movies = pd.DataFrame(data=recomm_movies.values,index=recomm_movies.index,columns=['pred_score'])
recomm_movies

                                                       pred_score
title
Rear Window (1954)                                       5.704612
South Park: Bigger, Longer and Uncut (1999)              5.451100
Rounders (1998)                                          5.298393
Blade Runner (1982)                                      5.244951
Roger & Me (1989)                                        5.191962
Gattaca (1997)                                           5.183179
Ben-Hur (1959)                                           5.130463
Rosencrantz and Guildenstern Are Dead (1990)             5.087375
Big Lebowski, The (1998)                                 5.038690
Star Wars: Episode V - The Empire Strikes Back (1980)    4.989601